<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />

    <!--change icon picture to camera-->
    <link rel="shortcut icon" href="img/camera_image.png" />

    <!--webpage title-->
    <title>@ViewData["Title"]</title>

    <!--import bootstrap and css files-->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-controler="Blah" asp-action="Index">Home</a>
        <a asp-controler="Blah" asp-action="GradeCalculator">Grade Calculator Page</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>This is the footer</footer>
    <!--Import Javascript file, Jquery, and Bootstrap template-->
    <script src="lib/JQuery/jquery-3.6.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>

</body>
</html>
