body {
    font-family:'Times New Roman', Times, serif
}

label{
    font-size: 20px;
    color: darkcyan;
    width: 150px;
    display: inline-block;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
